<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ url_for('hello_world') }}" class="nav-link px-2 text-muted" target="_blank">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('hello_learn') }}" class="nav-link px-2 text-muted" target="_blank">Courses</a></li>
      <li class="nav-item"><a href="{{ url_for('hello_events') }}" class="nav-link px-2 text-muted" target="_blank">Events</a></li>
      <li class="nav-item"><a href="{{ url_for('hello_about') }}" class="nav-link px-2 text-muted" target="_blank">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 Flasky</p>
  </footer>
</div>