<!doctype html>
<html>
  <head>
    <title>Flasky Web</title>
  </head>
  <body>
    <h1>Flasky Web</h1>
    <!-- img from unsplash.com by Markus Spiske -->
    <img src="https://flasky-web.giciorh.repl.co/static/unsplash.jpg" height="320">

    <h2>
      About Flasky
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida arcu. Bibendum enim facilisis gravida neque convallis a cras semper. Bibendum neque egestas congue quisque egestas. Enim ut sem viverra aliquet eget sit amet tellus cras. Ipsum suspendisse ultrices gravida dictum fusce ut placerat.
    </p>
    <h2>
      Open Positions
    </h2>
    <p>
      TODO - show the list
    </p>
    <button>Contact Us</button>
    
  </body>
  
</html>